<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net"/>
  </configSections>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\log\Myrtille.Services.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Log4netTraceListener" type="Myrtille.Log.Log4netTraceListener, Myrtille.Common">
          <!-- trace level (Information, Warning or Error) -->
          <filter type="Myrtille.Log.Log4netTraceFilter, Myrtille.Common" initializeData="Information"/>
        </add>
        <!-- disable output window traces -->
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.serviceModel>
    
    <services>
      <service name="Myrtille.Services.RemoteSessionProcess">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBindingCallback" contract="Myrtille.Services.Contracts.IRemoteSessionProcess"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Myrtille/RemoteSessionProcess"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Myrtille.Services.FileStorage" behaviorConfiguration="FileStorageServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingFileStorage" contract="Myrtille.Services.Contracts.IFileStorage"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Myrtille/FileStorage"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBindingCallback" receiveTimeout="infinite" maxReceivedMessageSize="2147483647">
          <security mode="Message"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession inactivityTimeout="infinite"/>
        </binding>
      </wsDualHttpBinding>
      <basicHttpBinding>
        <!-- buffer size: 64KB; max file size: 1GB -->
        <binding name="basicHttpBindingFileStorage" transferMode="Streamed" messageEncoding="Mtom" maxBufferSize="65536" maxReceivedMessageSize="1073741824" closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="FileStorageServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <!-- log remote session events into a file (located into <Myrtille folder>\log) -->
    <add key="RemoteSessionLog" value="false" />
  </appSettings>

</configuration>
